<div style="background-color:#ddd">
<center>
<table border="0" cellspacing="0" cellpadding="0" width="605"> 
<tr><td width="605"><img src="http://cater2.me/template/images/custom/email/header.jpg" /></td></tr>
	<tr><td bgcolor="#880000" valign="middle" height="38" align="left">&nbsp;&nbsp;&nbsp;<font color="#ffffff"><b>{{newsletter_simple_top}}</b></font></td></tr>
<tr><td bgcolor="#ffffff" align="left">
	
	<table cellpadding="4">
	<tr><td valign="top">
	
	<table border="0" cellspacing="0" cellpadding="4">
	<tr><td align="left"><br /><font size="2" color="#000000">{{newsletter_simple_body}}</font></td></tr>
	</table>
	
	</td></tr>
	</table>
	
</td></tr>
<tr><td bgcolor="#880000" height="36">&nbsp;&nbsp;<font color="#ffffff" size="2" valign="middle">{{newsletter_simple_footer}}</font></td></tr>
</table>
</center>
</div>
