ErrorDocument 404 /error.php?404

Options -Indexes

RewriteEngine On

php_value post_max_size 100M
php_value upload_max_filesize 100M

# now manageable in c2me config file
#RewriteCond %{HTTP_HOST} ^www.cater2\.me [NC] 
#RewriteRule (.*) http://cater2.me/$1 [QSA,R=301,L]

RewriteCond %{HTTP_HOST} ^www.cater2me\.info [NC] 
RewriteRule (.*) http://cater2.me/$1 [QSA,R=301,L]
RewriteCond %{HTTP_HOST} ^cater2me\.info [NC] 
RewriteRule (.*) http://cater2.me/$1 [QSA,R=301,L]


# public website

RewriteRule ^about/?$			/about.php [QSA,L]
RewriteRule ^contact/?$			/contact.php [QSA,L]

RewriteRule ^login/?$			/login.php [QSA,L]
RewriteRule ^logout/?$			/logout.php [QSA,L]
RewriteRule ^signup/?$		/signup.php [QSA,L]
RewriteRule ^jobs/?$		/jobs.php [QSA,L]
RewriteRule ^event-spotlight/?$		/event-spotlight.php [QSA,L]
RewriteRule ^pwd-recovery/?$		/pwd-recovery.php [QSA,L]
RewriteRule ^betakitchen/?$			/betakitchen.php [QSA,L]
RewriteRule ^referral/?$			/referral_2.php [QSA,L]
RewriteRule ^clients/eventbrite/vendors/?$		/clients/eventbrite/vendors.php [QSA,L]


RewriteRule ^favicon.ico$			/template/favicon.ico [R=301,L]



# extranet

RewriteRule ^dashboard/calendar/?$		/calendar.php [QSA,L]
RewriteRule ^dashboard/feedback/?$		/feedback.php [QSA,L]
RewriteRule ^dashboard/referral/?$		/referral.php [QSA,L]
RewriteRule ^dashboard/confirm-sms/?$		/confirm-sms.php [QSA,L]
RewriteRule ^dashboard/confirm/?$		/confirm.php [QSA,L]
RewriteRule ^dashboard/cancel/?$		/cancel.php [QSA,L]
RewriteRule ^dashboard/user-mgmt/?$		/user-mgmt.php [QSA,L]
RewriteRule ^dashboard/website-mgmt/?$		/website-mgmt.php [QSA,L]
RewriteRule ^dashboard/newsletter-mgmt/?$		/newsletter-mgmt.php [QSA,L]
RewriteRule ^dashboard/order-review/?$		/order-review.php [QSA,L]

RewriteRule ^dashboard/list-signup-attempts/?$		/list-signup-attempts.php [QSA,L]


RewriteRule ^dashboard/order-mgmt/?$		/order-mgmt.php [QSA,L]
RewriteRule ^dashboard/company-mgmt/?$		/company-mgmt.php [QSA,L]
RewriteRule ^dashboard/vendor-mgmt/?$		/vendor-mgmt.php [QSA,L]

RewriteRule ^dashboard/?$			/dashboard.php [QSA,L]




# from old website to new website

RewriteCond %{QUERY_STRING} ^id=([0-9]+)-(.*)$
RewriteRule ^feedbackform.php$		/dashboard/feedback/?oid=%1 [R=301,L]

RewriteCond %{QUERY_STRING} ^id=([0-9]+)-(.*)$
RewriteRule ^feedbackformusers.php$		/dashboard/feedback/?oid=%1 [R=301,L]

RewriteRule ^calendar/$		/dashboard/calendar/ [R=301,L]
RewriteRule ^calendar$		/dashboard/calendar/ [R=301,L]
RewriteRule ^calendar/calendar.php$		/dashboard/calendar/ [R=301,L]
RewriteRule ^accounts/login.php$		/login.php [R=301,L]




#dev password   c2me:old11
#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /var/www/cater2me-dev/.htpasswd 
#AuthGroupFile /dev/null 
#require valid-user

