<h1>Listing admin_company_profiles</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_company_profiles.each do |admin_company_profile| %>
  <tr>
    <td><%= link_to 'Show', admin_company_profile %></td>
    <td><%= link_to 'Edit', edit_admin_company_profile_path(admin_company_profile) %></td>
    <td><%= link_to 'Destroy', admin_company_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company profile', new_admin_company_profile_path %>
