<h1>New contact</h1>

<%= form_for(@contact, :url => params.include?(:company_id) ? admin_company_contacts_path(@company) : admin_vendor_contacts_path(@vendor), method: "POST") do |f| %>
  <%= render 'form', f: f %>
<% end %>
