/*-------------------------------------------------*/
/*	Call to Action 
/*-----------------------------------------------*/	
.cta-widget #tuw_div {width:320px;height:200px;margin:5px 0 0 20px;}
.cta-widget .cta-widget-title {display:none;}
.cta-widget .tuw_container {width:300px;position:relative;left:40px;}

/* Simple Theme */
.cta-widget .tuw_simple * { outline: 0;padding: 0;margin: 0;border: 0;text-align: left;font-weight: normal;line-height: 18px !important;font-style: normal;text-transform: none !important;letter-spacing: .07em !important; }
.cta-widget .tuw_simple img { float: left;margin:0 15px 7px 0; }
.cta-widget .tuw_simple li { list-style: none;margin-bottom: 15px;clear:both; }
.cta-widget .tuw_simple li .tuw_date a { font-style: italic; }
/* Advanced Theme */
.cta-widget .tuw_twi * { font-family: 'Droid Serif', georgia, serif;color:#fff;font-size:13px;line-height:20px;}
.cta-widget .tuw_twi .tuw_clear { clear: both; }
.cta-widget .tuw_twi a { white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word; }
.cta-widget .tuw_twi a, .cta-widget .tuw_twi a:hover { text-decoration: none; }
.cta-widget .tuw_twi { margin-bottom: 10px;padding-top:0!important; }
.cta-widget .tuw_twi .tuw_head { height: 22px;}
.cta-widget .tuw_twi .tuw_head a { display: none;position: relative; }
.cta-widget .tuw_twi .tuw_head .tuw_logo, .tuw_twi .tuw_head .tuw_logo.tw1 { position: absolute;height: 20px;width: 65px;top: 0px;left: 0px;}

.cta-widget .tuw_twi .tuw_head .twitter-bird  {position:relative;display:block;float:left;height: 49px;width: 49px;background:url(images/cta-twitter.png) 0 0 no-repeat;left:15px;top:25px;}

.cta-widget .tuw_twi .tuw_head .tuw_text { float: left;margin-left: 72px;margin-top: 2px;font-size: 11px;height: 15px;display: block;color: #6ca0af;position: absolute;top: 0; }
.cta-widget .tuw_twi .tuw_head .tuw_toggle { float: right;width: 20px;background: url(images/blue/toggle.png) top left no-repeat;position: absolute;top: 0;right: 0; }
.cta-widget .tuw_twi .tuw_head .tuw_toggle.close { background-position: 0 -20px; }
			
.cta-widget .tuw_twi .tuw_content {border-top: none;padding: 10px;padding-bottom: 3px;margin-top: 0 !important; }
.cta-widget .tuw_twi .tuw_updatetext { overflow: hidden; }
.cta-widget .tuw_twi .tuw_updateslide { width: 32700px; }
.cta-widget .tuw_twi .tuw_updateslide .tuw_updatebox { float: left;width: 190px; }

.cta-widget .tuw_twi .tuw_l { float: left; }
.cta-widget .tuw_twi .tuw_r { float: right; }

.cta-widget .tuw_twi .tuw_t .tuw_l { width: 60px;margin-top:3px;}
.cta-widget .tuw_twi .tuw_t .tuw_l img { width: 48px;border:1px solid #999999;padding:2px; }
.cta-widget .tuw_twi .tuw_t .tuw_l img:hover {border:1px solid #cccccc;}
.cta-widget .tuw_twi .tuw_t .tuw_r { width: 214px !important;font-size: 11px;color: #6f6f6f; }
.cta-widget .tuw_twi .tuw_t .tuw_r a { color: #c2deea!important;}
.cta-widget .tuw_twi .tuw_t .tuw_r a:hover { color:#a7defe; }

.cta-widget .tuw_twi .tuw_dateslide { width: 32700px; }
.cta-widget .tuw_twi .tuw_dateslide .tuw_datebox { float: left;width: 130px; }

.cta-widget .tuw_twi .tuw_b { margin-top: 10px;padding-bottom: 0; }
.cta-widget .tuw_twi .tuw_b .tuw_l { width: 130px;overflow: hidden;float:left;margin-left:65px;margin-top:5px;}
.cta-widget .tuw_twi .tuw_b .tuw_l a { font-size: 11px !important;color: #4e4d4d;
text-shadow: 1px 1px 0px #cccccc;
filter: dropshadow(color=#cccccc, offx=1, offy=1);
}
.cta-widget .tuw_twi .tuw_b .tuw_l a:hover { color:#333;}
.cta-widget .tuw_twi .tuw_b .tuw_r { float: right;width: 48px;height: 24px;padding-top: 3px;overflow: hidden; position:relative;top:0;right:10px;}
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_prev { width: 24px;height: 24px;background: url(images/button.png) 0 -24px;display: block;float: right; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_next { width: 24px;height: 24px;background: url(images/button.png) -24px -24px;display: block;float: right; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_next:active { background-position: -24px -24px; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_prev:active { background-position: 0 -24px; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_prev.tuw_dis { background-position: 0 0; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_prev.tuw_dis:active { background-position: 0 0; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_next.tuw_dis { background-position: -24px 0; }
.cta-widget .tuw_twi .tuw_b .tuw_r .tuw_next.tuw_dis:active { background-position: -24px 0; }

/******  END CTA ******/

/******  FOOTER  ******/

#home-widgets .cta-widget #tuw_div {width:320px;height:200px;margin:20px 0 0 20px;}
#home-widgets #tuw_div {width:320px;height:200px;margin:5px 0 0 0px;}

/* Simple Theme */
#home-widgets  .tuw_simple * { outline: 0;padding: 0;margin: 0;border: 0;text-align: left;font-weight: normal;line-height: 18px !important;font-style: normal;text-transform: none !important;letter-spacing: .07em !important; }
#home-widgets  .tuw_simple img { float: left;margin:0 15px 7px 0; }
#home-widgets  .tuw_simple li { list-style: none;margin-bottom: 15px;clear:both; }
#home-widgets  .tuw_simple li .tuw_date a { font-style: italic; }
/* Advanced Theme */
#home-widgets  .tuw_twi * { font:12px/18px 'Droid Sans',arial,sans-serif;font-weight:400;color:#777;}
#home-widgets  .tuw_twi .tuw_clear { clear: both; }
#home-widgets  .tuw_twi a { white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word; }
#home-widgets  .tuw_twi a, #home-widgets  .cta-widget .tuw_twi a:hover { text-decoration: none; }
#home-widgets  .tuw_twi { margin-bottom: 10px; }
#home-widgets  .tuw_twi .tuw_head { height: 22px;}
#home-widgets  .tuw_twi .tuw_head a { display: none;position: relative; }
#home-widgets  .tuw_twi .tuw_head .tuw_logo, #home-widgets  .tuw_twi .tuw_head .tuw_logo.tw1 { position: absolute;height: 20px;width: 65px;top: 0px;left: 0px;}

#home-widgets  .tuw_twi .tuw_head .twitter-bird  {position:relative;display:none;float:left;height: 49px;width: 49px;background:url(images/cta-twitter.png) 0 0 no-repeat;left:0;top:-10px;}

#home-widgets  .tuw_twi .tuw_head .tuw_text { float: left;margin-left: 72px;margin-top: 2px;font-size: 11px;height: 15px;display: block;color: #6ca0af;position: absolute;top: 0; }
#home-widgets  .tuw_twi .tuw_head .tuw_toggle { float: right;width: 20px;background: url(images/blue/toggle.png) top left no-repeat;position: absolute;top: 0;right: 0; }
#home-widgets  .tuw_twi .tuw_head .tuw_toggle.close { background-position: 0 -20px; }
			
#home-widgets  .tuw_twi .tuw_content {border-top: none;padding: 10px;padding-bottom: 3px;margin-top: 0 !important;position:relative;right:10px;top:-25px; }
#home-widgets  .tuw_twi .tuw_updatetext { overflow: hidden; }
#home-widgets  .tuw_twi .tuw_updateslide { width: 32700px; }
#home-widgets  .tuw_twi .tuw_updateslide .tuw_updatebox { float: left;width: 190px; }

#home-widgets  .tuw_twi .tuw_l { float: left; }
#home-widgets  .tuw_twi .tuw_r { float: right; }

#home-widgets  .tuw_twi .tuw_t .tuw_l { width: 60px; }
#home-widgets  .tuw_twi .tuw_t .tuw_l img { width: 48px; border:1px solid #CCCCCC;padding:2px; }
#home-widgets  .tuw_twi .tuw_t .tuw_l img:hover {border:1px solid #999999;}
#home-widgets  .tuw_twi .tuw_t .tuw_r { width: 190px;margin-top: 0;font-size: 11px;color: #6f6f6f; }
#home-widgets  .tuw_twi .tuw_t .tuw_r a { color: #000;}
#home-widgets  .tuw_twi .tuw_t .tuw_r a:hover { color:#458AB3; }

#home-widgets  .tuw_twi .tuw_dateslide { width: 32700px; }
#home-widgets  .tuw_twi .tuw_dateslide .tuw_datebox { float: left;width: 130px; }

#home-widgets  .tuw_twi .tuw_b { margin-top: 10px;padding-bottom: 0; }
#home-widgets  .tuw_twi .tuw_b .tuw_l { width: 130px;overflow: hidden;float:left;margin-left:65px;margin-top:5px;}
#home-widgets  .tuw_twi .tuw_b .tuw_l a { font-size: 11px !important;color: #4e4d4d;;
}
#home-widgets  .tuw_twi .tuw_b .tuw_l a:hover { color:#333;}
#home-widgets  .tuw_twi .tuw_b .tuw_r { float: right;width: 48px;height: 24px;padding-top: 3px;overflow: hidden; position:relative;top:0;right:10px;}
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_prev { width: 19px;height: 13px;background: url(images/bw/button.png) 0 -26px;display: block;float: right; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_next { width: 20px;height: 13px;background: url(images/bw/button.png) -19px -26px;display: block;float: right; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_next:active { background-position: -19px -13px; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_prev:active { background-position: 0 -13px; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_prev.tuw_dis { background-position: 0 0; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_prev.tuw_dis:active { background-position: 0 0; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_next.tuw_dis { background-position: -19px 0; }
#home-widgets  .tuw_twi .tuw_b .tuw_r .tuw_next.tuw_dis:active { background-position: -19px 0; }

/******  END FOOTER ******/

#sidebar .tuw_twi h2 a{padding-bottom: 10px;color: #333333;font-family: 'Lato',arial,sans-serif;font-weight: 300;letter-spacing: 0!important;font-size:22px;}

#sidebar #tuw_div {margin: 0;width: 300px;}

/* Simple Theme */
#sidebar .tuw_simple { white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word; }
#sidebar .tuw_simple * { outline: 0;padding: 0;margin: 0;border: 0;text-align: left;font-weight: normal;line-height: 18px !important;font-style: normal;text-transform: none !important;letter-spacing: 0em !important; }
#sidebar .tuw_simple img { float: left;margin:0 15px 7px 0 !important; }
#sidebar .tuw_simple li { list-style: none;margin-bottom: 15px;clear:both; }
#sidebar .tuw_simple li .tuw_date a { font-style: italic; }
/* Advanced Theme */
#sidebar .tuw_twi * { box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;outline: 0;padding: 0;margin: 0;border: 0;text-align: left !important;font-weight: normal;line-height: 15px !important;font-style: normal;text-transform: none !important;letter-spacing: .07em !important; font: normal 12px/18px 'Droid Sans', arial, sans-serif;}
#sidebar .tuw_twi .tuw_clear { clear: both; }
#sidebar .tuw_twi a { white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word; }
#sidebar .tuw_twi a, #sidebar .tuw_twi a:hover { text-decoration: none; }
#sidebar .tuw_twi { margin-bottom: 10px; }
#sidebar .tuw_twi .tuw_head { height: 2px;border: none;}
#sidebar .tuw_twi .tuw_head a { display: none;position: relative; }
#sidebar .tuw_twi .tuw_head .tuw_logo, #sidebar .tuw_twi .tuw_head .tuw_logo.tw1 { position: absolute;height: 20px;width: 65px;top: 0px;left: 0px;background: url(images/tw_1.png) left top no-repeat; }
#sidebar #sidebar .tuw_twi .tuw_head .tuw_logo.tw2 { position: absolute;height: 45px;width: 65px;top: -30px;left: 5px;background: url(images/tw_2.png) left top no-repeat; }
#sidebar #sidebar .tuw_twi .tuw_head .tuw_logo.tw3 { position: absolute;height: 58px;width: 65px;top: -40px;left: 5px;background: url(images/tw_3.png) left top no-repeat; }
#sidebar .tuw_twi .tuw_head .tuw_logo.tw4 { position: absolute;height: 60px;width: 65px;top: -40px;left: 3px;background: url(images/tw_4.png) left top no-repeat; }
#sidebar .tuw_twi .tuw_head .tuw_text { float: left;margin-left: 72px;margin-top: 2px;font-size: 11px;height: 15px;display: block;color: #6ca0af;position: absolute;top: 0; }
#sidebar .tuw_twi .tuw_head .tuw_toggle { float: right;width: 20px;background: url(images/blue/toggle.png) top left no-repeat;position: absolute;top: 0;right: 0; }
#sidebar .tuw_twi .tuw_head .tuw_toggle.close { background-position: 0 -20px; }
			
#sidebar .tuw_twi .tuw_content { border: none;border-top: none;padding: 0;margin-top: 0 !important; }
#sidebar .tuw_twi .tuw_updatetext { overflow: hidden; }
#sidebar .tuw_twi .tuw_updateslide { width: 32700px; }
#sidebar .tuw_twi .tuw_updateslide .tuw_updatebox { float: left;width: 300px; }

#sidebar .tuw_twi .tuw_l { float: left; }
#sidebar .tuw_twi .tuw_r { float: left; }

#sidebar .tuw_twi .tuw_t .tuw_l { width: 60px; }
#sidebar .tuw_twi .tuw_t .tuw_l img { width: 48px;border:1px solid #CCCCCC;padding:2px; }
#sidebar .tuw_twi .tuw_t .tuw_l img:hover {border:1px solid #999999;}
#sidebar .tuw_twi .tuw_t .tuw_r { width: 300px;margin-top: 0;font-size: 11px;color: #6f6f6f; }
#sidebar .tuw_twi .tuw_t .tuw_r a { color: #4D778F; }
#sidebar .tuw_twi .tuw_t .tuw_r a:hover { color: #000; }

#sidebar .tuw_twi .tuw_dateslide { width: 32700px; }
#sidebar .tuw_twi .tuw_dateslide .tuw_datebox { float: left;width: 130px; }

#sidebar .tuw_twi .tuw_b { margin-top: 5px;padding-bottom: 5px;margin-left:60px; }
#sidebar .tuw_twi .tuw_b .tuw_l { width: 130px;overflow: hidden; }
#sidebar .tuw_twi .tuw_b .tuw_l a {color: #B0B0B0;font-family: droid serif;font-size: 11px;letter-spacing: 0 !important;}
#sidebar .tuw_twi .tuw_b .tuw_l a:hover { color:#666; }
#sidebar .tuw_twi .tuw_b .tuw_r { float: right;width: 40px;height: 16px;padding-top: 3px;overflow: hidden; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_prev { width: 19px;height: 13px;background: url(images/blue/button.png) 0 -26px;display: block;float: right; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_next { width: 20px;height: 13px;background: url(images/blue/button.png) -19px -26px;display: block;float: right; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_next:active { background-position: -19px -13px; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_prev:active { background-position: 0 -13px; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_prev.tuw_dis { background-position: 0 0; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_prev.tuw_dis:active { background-position: 0 0; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_next.tuw_dis { background-position: -19px 0; }
#sidebar .tuw_twi .tuw_b .tuw_r .tuw_next.tuw_dis:active { background-position: -19px 0; }
			
/* Grey Theme */
#sidebar .tuw_twi.grey .tuw_head { border-color: #d6d6d6;background-image: url(images/grey/head_bg.png); }
#sidebar .tuw_twi.grey .tuw_head .tuw_toggle { background-image: url(images/grey/toggle.png); }
			
#sidebar .tuw_twi.grey .tuw_content { border-color: #d6d6d6;background-image: url(images/grey/content_bg.png); }
#sidebar .tuw_twi.grey .tuw_t .tuw_r { color: #6f6f6f; }
#sidebar .tuw_twi.grey .tuw_t .tuw_r a { color: #656565; }
#sidebar .tuw_twi.grey .tuw_b .tuw_l { color: #b0b0b0; }
#sidebar .tuw_twi.grey .tuw_b .tuw_r .tuw_prev { background-image: url(images/grey/button.png); }
#sidebar .tuw_twi.grey .tuw_b .tuw_r .tuw_next { background-image: url(images/grey/button.png); }
		
/* Dark Blue Theme */
#sidebar .tuw_twi.db .tuw_head { border-color: #7babb9;background-image: url(images/db/head_bg.png); }
#sidebar .tuw_twi.db .tuw_head .tuw_toggle { background-image: url(images/db/toggle.png); }

#sidebar .tuw_twi.db .tuw_content { border-color: #7babb9;background-image: url(images/db/content_bg.png); }
#sidebar .tuw_twi.db .tuw_t .tuw_r { color: #6f6f6f; }
#sidebar .tuw_twi.db .tuw_t .tuw_r a { color: #294c56; }
#sidebar .tuw_twi.db .tuw_b .tuw_l { color: #b0b0b0; }
#sidebar .tuw_twi.db .tuw_b .tuw_r .tuw_prev { background-image: url(images/db/button.png); }
#sidebar .tuw_twi.db .tuw_b .tuw_r .tuw_next { background-image: url(images/db/button.png); }
		
/* Orange Theme */
#sidebar .tuw_twi.orange .tuw_head { border-color: #ff9a16;background-image: url(images/orange/head_bg.png); }
#sidebar .tuw_twi.orange .tuw_head .tuw_toggle { background-image: url(images/orange/toggle.png); }
#sidebar .tuw_twi.orange .tuw_head .tuw_text { color: #a8712a; }

#sidebar .tuw_twi.orange .tuw_content { border-color: #ff9a16;background-image: url(images/orange/content_bg.png); }
#sidebar .tuw_twi.orange .tuw_t .tuw_r { color: #6f6f6f; }
#sidebar .tuw_twi.orange .tuw_t .tuw_r a { color: #e19736; }
#sidebar .tuw_twi.orange .tuw_b .tuw_l { color: #b0b0b0; }
#sidebar .tuw_twi.orange .tuw_b .tuw_r .tuw_prev { background-image: url(images/orange/button.png); }
#sidebar .tuw_twi.orange .tuw_b .tuw_r .tuw_next { background-image: url(images/orange/button.png); }
		
/* Green Theme */
#sidebar .tuw_twi.green .tuw_head { border-color: #8bba88;background-image: url(images/green/head_bg.png); }
#sidebar .tuw_twi.green .tuw_head .tuw_toggle { background-image: url(images/green/toggle.png); }
#sidebar .tuw_twi.green .tuw_head .tuw_text { color: #559551; }

#sidebar .tuw_twi.green .tuw_content { border-color: #8bba88;background-image: url(images/green/content_bg.png); }
#sidebar .tuw_twi.green .tuw_t .tuw_r { color: #6f6f6f; }
#sidebar .tuw_twi.green .tuw_t .tuw_r a { color: #6f9d6d; }
#sidebar .tuw_twi.green .tuw_b .tuw_l { color: #b0b0b0; }
#sidebar .tuw_twi.green .tuw_b .tuw_r .tuw_prev { background-image: url(images/green/button.png); }
#sidebar .tuw_twi.green .tuw_b .tuw_r .tuw_next { background-image: url(images/green/button.png); }

/* Red Theme */
#sidebar .tuw_twi.red .tuw_head { border-color: #d38383;background-image: url(images/red/head_bg.png); }
#sidebar .tuw_twi.red .tuw_head .tuw_toggle { background-image: url(images/red/toggle.png); }
#sidebar .tuw_twi.red .tuw_head .tuw_text { color: #a65151; }

#sidebar .tuw_twi.red .tuw_content { border-color: #d38383;background-image: url(images/red/content_bg.png); }
#sidebar .tuw_twi.red .tuw_t .tuw_r { color: #6f6f6f; }
#sidebar .tuw_twi.red .tuw_t .tuw_r a { color: #8b2828; }
#sidebar .tuw_twi.red .tuw_b .tuw_l { color: #b0b0b0; }
#sidebar .tuw_twi.red .tuw_b .tuw_r .tuw_prev { background-image: url(images/red/button.png); }
#sidebar .tuw_twi.red .tuw_b .tuw_r .tuw_next { background-image: url(images/red/button.png); }
		
/* Black&White Theme */
#sidebar .tuw_twi.bw .tuw_head { border-color: #777777;background-image: url(images/bw/head_bg.png); }
#sidebar .tuw_twi.bw .tuw_head .tuw_toggle { background-image: url(images/bw/toggle.png); }
#sidebar .tuw_twi.bw .tuw_head .tuw_text { color: #777777; }

#sidebar .tuw_twi.bw .tuw_content { border-color: #777777;background-image: url(images/bw/content_bg.png); }
#sidebar .tuw_twi.bw .tuw_t .tuw_r { color: #777; }
#sidebar .tuw_twi.bw .tuw_t .tuw_r a { color: #666666; }
#sidebar .tuw_twi.bw .tuw_b .tuw_l { color: #b0b0b0; }
#sidebar .tuw_twi.bw .tuw_b .tuw_r .tuw_prev { background-image: url(images/bw/button.png); }
#sidebar .tuw_twi.bw .tuw_b .tuw_r .tuw_next { background-image: url(images/bw/button.png); }

/* Rounded Theme */
#sidebar .tuw_twi.rounded .tuw_head,#sidebar .tuw_twi.rounded .tuw_content { -moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; }
#sidebar .tuw_twi.rounded .tuw_content { -moz-border-radius-topleft: 0;-moz-border-radius-topright: 0;border-top-left-radius: 0;border-top-right-radius: 0;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius: 0; }
#sidebar .tuw_twi.rounded .tuw_head { -moz-border-radius-bottomleft: 0;-moz-border-radius-bottomright: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;-webkit-border-bottom-left-radius: 0;-webkit-border-bottom-right-radius: 0;-khtml-border-top-left-radius: 0;-khtml-border-top-right-radius: 0; }