Hi {{first_name}},<br />
<br />
We've included below an summary of your current schedule for this week as of {{date}}. Please make sure you have detailed order confirmations for the orders listed below.<br />
<br />
{{list_orders}}<br />

These orders can also be confirmed by clicking the following link to access your schedule online:<br />
http://cater2.me/dashboard/calendar/<br />
<br />
If you have any question, please contact us immediately <a href="mailto:proposals@cater2.me">proposals@cater2.me</a><br />
<br />
Thanks,
<br />
<br />
The Cater2.me team
