<div class="row">
  <%= f.label :item_id, class: "span2" %>
  <%= f.collection_select :item_id, @items, :id, :name %>
  Quantity: <%= f.text_field :quantity, class: "span1" %>
  <%= link_to_remove_fields "remove", f %>
</div>