@font-face {
    font-family: 'LatoLight';
    src: url('../css/ie-font/Lato-Light-webfont.eot');
    src: url('../css/ie-font/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/ie-font/Lato-Light-webfont.woff') format('woff'),
         url('../css/ie-font/Lato-Light-webfont.ttf') format('truetype'),
         url('../css/ie-font/Lato-Light-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('../css/ie-font/YanoneKaffeesatz-Regular-webfont.eot');
    src: url('../css/ie-font/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/ie-font/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
         url('../css/ie-font/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
         url('../css/ie-font/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#home-portfolio .details {position:relative;left:15px;}
#home-portfolio .details span  {width:50px;}
h1, h2, h3, h4, h5, h6, .sf-menu a {font-family:'LatoLight', Arial, sans-serif!important;}
a.buttons span {font-family:'YanoneKaffeesatzRegular', Arial, sans-serif;}