/*
.accordion h3 {
padding-left:30px;

line-height:30px;
height:30px;
}
*/

textarea, input{ outline:none;}

#post-content-wrap a {
color:#458ab3;
}
#post-content-wrap a:hover {
color:#555;
}

/* user management */
#tblUsers td {
white-space:nowrap;
}

.section_divider {
  background-image: url("/template/images/hr-pattern.png");
  background-position: 0 3px;
  background-repeat: no-repeat;
}
.section_divider h3 {
  color: #BF0000;
  padding-left: 30px;
  font-weight:bold;
}


/* /contact/ */
.niftyBox {
height: 68px;
width:380px;
line-height: 68px;
text-align:center;
background-image:url("/template/images/custom/nifty-box.png");
}
.niftyBox .niftyTextfield { /* +ie8 css file */
      background: transparent url('/template/images/custom/contact_email_field.png') no-repeat top;
      width: 259px;
      height: 43px;
	  border:0;
	  padding-left:25px;
}
.niftyBox .niftySubmit {
      background: transparent url('/template/images/custom/submit_button.png') no-repeat center;
      width: 59px;
 	height: 22px;
      border:0;
	  cursor:pointer;
	  
}

#divContactInfo p {
}
#divContactNiftyBoxes {
margin-bottom:40px;
}

/* feedback */
.tblItems {
width:100%;
}



/* global */

#post-content-wrap {
margin-bottom:40px;
}

#divAccount {
text-align:right;
margin: -10px 25px 12px 0;
}

#divAccount a {
margin-left:10px;
}

#notifBox {
margin-top:50px;
margin-bottom:50px;
padding:20px;
text-align:center;
font-family:"Trebuchet MS", Arial;
background-color:#ddd;
-moz-border-radius: 10px 30px 10px 30px;
border-radius: 10px 30px 10px 30px;
}


#parentGlobalSignup {
position:relative; height:72px; overflow:hidden;
}
#globalSignup {
visibility:hidden;
position:absolute;
left:90%;
width:470px; /*380*/
height:72px;
}
#globalSignup img {
float:left;
cursor:pointer;
}
#globalSignupRight {
background-color:#c0e6ef;
float:left;
height:100%;
width:411px; /*(470-59)*/
}
#globalSignupRight .label {
  color: #626262;
  font-size: 13px;
  line-height: 20px;
  margin-top: 3px;
  margin-left:27px;;
  text-align: left;
}

#signup_email { /* +ie8 css file */
      background: transparent url('/template/images/custom/signup_email_field.png') no-repeat top;
      width: 272px;
      height: 40px;
	padding-left:35px;
	margin-left:5px;
	margin-top:3px;
	border:0;
}
#btnSignup_email {
      background: transparent url('/template/images/custom/submit_button.png') no-repeat top;
      width: 59px;
      height: 22px;
      margin-top:12px;
	border:0;
	cursor:pointer;
}

#globalSignupThanks {
text-align:center;
font-size:3em;
line-height:70px;
color:#bc353b;
}
#globalSignupThanks_big {
text-align:center;
font-size:3em;
line-height:110px;
color:#bc353b;
}

/*simplemodal, used after signup form submission */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:150px; width:500px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/template/images/custom/x_simplemodal.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}


.footer-nav li a:hover{color:#990000;}


/* home */

#homeLandscape {
height:150px;
background-image:url("/template/images/custom/skyline.png");
margin-top:-130px;
}

#divHomeIconsLeft {
font-size: 1.7em;
line-height:1.5em;
text-align:justify;
padding:10px 0;
}
#divHomeIconsRight div {
padding:10px 0;
}
	.mosaic-block_c2me {
	  background: url("/template/images/progress.gif") no-repeat scroll center center #111111;
	  float: left;
	  height: 120px;
	  margin-bottom: 10px;
	  overflow: hidden;
	  position: relative;
	  width: 120px;
	}


.pagination {
  background-image: url("/template/images/custom/view_more.png");
  background-position: 30% bottom;
  background-repeat: no-repeat;
  float: left;
  height: 60px;
  margin-bottom: -20px;
  margin-left: 60px;
}

#divHomeFeaturedIn {
  background-image: url("/template/images/custom/featured_in.png");
  background-repeat: no-repeat;
  height: 66px;
  width:960px;
}
#divHomeFeaturedIn div {
  line-height:66px;
  font-size:18px;
  margin-left:180px;
}
#divHomeFeaturedIn div img {
  vertical-align:middle;
}

#divHomeSliderText {
float:left;
width:280px;
}
#divHomeSliderText p {
text-align:justify;
font-size:1.1em;
line-height:1.2em;
margin-left:12px;
}
#divHomeSliderIcons {
padding-left:10px;
float:left;
}
#divHomeSliderIcons div {
float:left;
padding:0 8px;
}
#divHomeSliderIcons img {
cursor:pointer;
}

#divHomeSliderTestimonials {
background-image:url("/template/images/custom/slider-testimonials.png");
width:960px;
height:216px;
}
#divHomeSliderTestimonials #testimonial_content {
  color: #B21F29;
  display: table-cell;
  font-size: 1.3em;
  height: 215px;
  line-height: 1.4em;
  padding-right: 25px;
  vertical-align: middle;
}
#divHomeSliderTestimonials #testimonial_author {
  color: #888888;
  font-size: 1.3em;
  margin-left: 630px;
  margin-top: -62px;
}
#divHomeSliderTestimonials #testimonial_picture {
  float: left;
  line-height: 215px;
  margin-left: 300px;
  text-align: center;
  width: 200px;
}
#divHomeSliderHIW {
background-image:url("/template/images/custom/slider-hiw.png");
width:960px;
height:216px;
}

#globalGlobal {
   min-height: 100%;
   margin-bottom: -140px;
   position: relative;
}
footer {
   height: 120px;
   position: relative;
}

.home_icons {
text-align:center;
}
.home_icons div {
margin-top:10px;
}

.read-more a {
font-weight:bold;
}

/* confirm */
.divLnkConfirm {
margin:10px;
}
.divLnkConfirm a {
color:blue;
}

/* login */
.signup {
text-align:center;
}
.signup a {
line-height:270px;
}
#contact-page legend a { color:#4583b3;}
#contact-page legend a:hover { color:#444;}



/* event spotlight */
.legend_gcal div {
padding:5px;
width:100px;
margin:0 12px 20px 12px;
border:2px #888 solid;
text-align:center;
color:#fff;
float:left;
}



.c2me_mgmt fieldset {
border:1px #555 solid;
background-color:#f4f4f4;
}
.c2me_mgmt legend {
margin-left:5px;
text-align:left;
}
.c2me_mgmt table {
border:none;
margin:5px auto;
}
.c2me_mgmt td {
border:none;
white-space:nowrap;
}
.c2me_mgmt fieldset td:nth-child(odd) {
text-align:right;
}
.c2me_mgmt fieldset td:nth-child(even) {
text-align:left;
}
.c2me_mgmt fieldset td textarea {
width:100%;
}

.c2me_mgmt .fdt_profile {
text-align:center;
}
.fdt_profile div {
margin: 10px 0;
}
.c2me_mgmt .fdt_profile fieldset {
margin:6px;
}
.c2me_mgmt .fdt_profile fieldset textarea {
width:90%;
}

.c2me_mgmt .div_icons {
margin: 15px 0;
background-color:silver;
height:40px;
}


.c2me_mgmt .div_company_pick {
text-align:center;
margin-bottom:15px;
}
.c2me_mgmt .div_company_pick input {
margin:10px 0;
}


.c2me_mgmt .div_company_3 fieldset {
height:95px;
text-align:center;
}
.c2me_mgmt .div_company_3 textarea {
width:90%;
height:65px;
}
.c2me_mgmt .div_company_users td {
padding:0;
}
.c2me_mgmt .div_company_users input {
width:80px;
}



.c2me_mgmt #div_order_proposals h3 {
line-height:30px;
padding-left:25px;
}
.c2me_mgmt .prop_service_fee, .c2me_mgmt .fldt_items .prop_item_quantity, .c2me_mgmt .fldt_items .prop_item_price {
width:60px;
}
.c2me_mgmt .fldt_items .prop_item_notes, .c2me_mgmt .fldt_items .prop_item_non_menu_notes {
height:20px; /* has to match same value in .js for resize when focus */
width:120px;
}
.c2me_mgmt .fldt_servings_instructions {
text-align:center;
position:relative;
padding-bottom:50px;
}
.c2me_mgmt .fldt_servings_instructions > input {
width:90%;
margin:4px;
}
.c2me_mgmt .fldt_servings_instructions .div_submit {
position:absolute;
left:50%;
margin-left:-40px;
bottom:15px;
}
@-moz-document url-prefix() { /* bug in Firefox */
    .c2me_mgmt .fldt_servings_instructions .div_submit {
        bottom:-35px;
    }
}


.c2me_mgmt .fldt_servings_instructions .div_submit input {
width:80px;
}

.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

