@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

/* universal */

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
  h2{
    color: #b70000;
  }
}

.field_with_errors {
  @extend .control-group.error
}

.loading{
  background: url("loader.gif") no-repeat center;
  width: 100%;
  height: 100px;
  padding: 20px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 100px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover{
    color: black;
    text-decoration: none;
  }
}

/* buttons */
.btn-group {
  margin: 10px 0
}

/* tables */
table#edit tr td i.icon-pencil { display:none; }
table#edit tr:hover td i.icon-pencil {
  display:inline-block;
  margin-right:-15px;
  margin-top: 5px;
  padding-right: 5px;
}

.radio-button label input{
  display:inline-block;
}