<h1>User List</h1>

<div class="btn-group management">
  <%= link_to "Manage Clients", clients_admin_users_path(type: "client") ,:remote => true, :class => "btn" %>
  <%= link_to "Manage Vendors", vendors_admin_users_path(type: "vendor") ,:remote => true, :class => "btn" %>
  <%= link_to "Manage C2me Users", others_admin_users_path(type: "other") ,:remote => true, :class => "btn" %>
</div>

<div id="users">
</div>