<h1>Editing location</h1>

<%= form_for(@location, :url => params.include?(:company_id) ? company_location_path(@company, @location) : vendor_location_path(@vendor, @location), method: "PUT") do |f| %>
  <%= render 'form', f: f %>
<% end %>
